/* loginform.css */

.loginform-container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.loginform-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.loginform-col-md-6 {
  flex: 1;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.loginform-col-md-6-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginform-custom-option ul {
  list-style: none;
}

.loginform-custom-option li {
  margin: 10px;
}

.loginform-custom-btn {
  width: 200px;
  display: inline;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.loginform-custom-btn-registro {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.loginform-custom-btn-inicio-sesion {
  background-color: #007bff;
  color: #fff;
  border: none;
}
